.boton_estilo {
  background-color: beige;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}


.boton_estilo:hover  {
  background-color: #333;
  color: beige;

}
.producto_precio_estilo {
  font-size: 2rem;
  color: black;
  font-weight: bold;
  margin-top: 20px;
}
.estilo_titulo {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}
