pre{
  border:thin solid gainsboro;
  border-radius: 1em;
  background-color: ghostwhite;
  margin: 1em;
  padding: 1em;
  color: rgb(44, 44, 44);
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
h1 {
  visibility: hidden;
}

nav {
  font-size: 1em;
  font-weight: bold;
  color: rgb(136, 72, 72);
  border-bottom: 2px solid #884848;
  margin-bottom: 10px;
  margin-top: -25px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;


}


footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}


footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


footer h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: auto;
}

.detalle_producto {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  border-top: 2px solid #884848;

}
.producto_imagen_estilo {
  max-width: 100%;
  height: auto;
}
.producto_titulo_estilo {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}
.producto_descripcion_estilo {
  color: #666;
}
.producto_precio_estilo_formulario {

  color: black;
  font-weight: bold;
  margin-top: 20px;
}

.carrito_boton_estilo {
  background-color: beige;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}


.carrito_boton_estilo:hover  {
  background-color: #333;
  color: beige;
}
.informacion_adicional_estilo{
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  border-top: 2px solid #884848;
}
label{
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  margin-top: 20px;
}
.campos_estilos{
  background-color: #967c7c;
  width: 100%;
  padding: 10px;
  border: 2px solid #988c8c;
  border-radius: 4px;
  resize: vertical;

  .card-img-container {
    position: relative;
  }

  .oferta-label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f00;
    color: #fff;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
  }


}
